<app-header></app-header>
<div class="container">
    <div class="content-header">
        <div class="container-fluid" *ngIf="funcion==0">
            <div class="row mb-2 mt-5">
                <div class="col-sm-6">
                    <h1 class="m-0"><b>GESTION VENTAS</b></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" *ngIf="funcion==0">
                    <h3 class="card-title"><b>Listado de ventas</b></h3>
                    <div style="text-align: right;">
                        <div class="botones mt-3">
                            <button class="btn btn-agregar btn-responsive" style="--clr:#ff1867; "
                                (click)="mostrar(1)"><span>Añadir Ventas</span><i></i></button>
                        </div>
                    </div>
                    <div class="tabla mt-3" *ngIf="funcion==0">
                        <div class="tabla table-responsive">
                            <div class="busqueda input-group mt-2 ms-auto" style="width: 400px;">
                                <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="busqueda">
                                <button class="btn btn-busqueda" type="button" (click)="cargarlista()"><i
                                        class='bx bx-search'></i></button>
                            </div>
                            <table class="table table-hover mt-2">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Total Bs</th>
                                        <th>Cliente</th>
                                        <th>Usuario</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-active" *ngFor="let item of lista index as con">
                                        <td>{{item.idventa}}</td>
                                        <td>{{ item.fecha }}</td>
                                        <td>{{ item.total }}</td>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.usuario}}</td>
                                        <td><button class='btn btn-mod btn-sm' (click)="asignar(item.idventa)"><i class='icon-printer'></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Paginacion -->
                            <nav aria-label="..." *ngIf="total!=0">
                                <ul class="pagination">
                                    <li [ngClass]="{'page-item':true, 'disabled':page==0}">
                                        <a class="page-link" (click)="cambiarpagina(page-1)">&laquo;</a>
                                    </li>
                                    <li *ngFor="let item of numSequence(total);let i=index" class="page-item "
                                        aria-current="page">
                                        <a [ngClass]="{'page-link':true, 'active':i==page}" (click)="cambiarpagina(i)">
                                            {{i+1}}
                                        </a>
                                    </li>
                                    <li [ngClass]="{'page-item':true, 'disabled':page==total-1}">
                                        <a class="page-link" (click)="cambiarpagina(page+1)">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mt-5" *ngIf="funcion==1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><b>{{titulo}}</b></h3>
            </div>
            <form class="formulario" [formGroup]="formulario" (ngSubmit)="mandardatos(formulario.value)">
                <div class="row">
                    <div class="col-3">
                        <label for="ci" class="form-label">Ci</label>
                        <input data-bs-toggle="modal" data-bs-target="#modalpay" (click)="cargarcliente()" type="text" id="ci" formControlName="ci" class="form-control">
                        <span class="text-danger"
                            *ngIf="formulario.get('fecha')?.hasError('required') && formulario.get('ci')?.touched">
                            El campo ci es <strong>requerido</strong>
                        </span>
                    </div>
                    <div class="col-4">
                        <label for="nombre" class="form-label">nombre</label>
                        <input data-bs-toggle="modal" data-bs-target="#modalpay" (click)="cargarcliente()" type="text" id="nombre" formControlName="nombre" class="form-control">
                        <span class="text-danger"
                            *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">
                            El campo nombre es <strong>requerido</strong>
                        </span>
                    </div> 
                    <div class="col-4">
                        <label for="fechanac" class="form-label">Fecha de venta</label>
                        <input type="date" id="fechanac" formControlName="fechanac" class="form-control">
                        <span class="text-danger"
                            *ngIf="formulario.get('fechanac')?.hasError('required') && formulario.get('fechanac')?.touched">
                            El campo nombre es <strong>requerido</strong>
                        </span>
                    </div>
                    <hr style="margin-top: 10px;">
                    <div class="col-5">
                        <label for="Producto" class="form-label">Producto</label>
                        <input type="hidden" id="mostrar" data-bs-toggle="modal" data-bs-target="#modalselprod">
                        <select (change)="modal()" id="Producto" class="form-select" [(ngModel)]="opcionproducto" formControlName="producto">
                            <option value="{{item.idproducto}}" *ngFor="let item of lsproducto">{{item.nombre + " | porciones: "+item.nroporcion}}</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <label class="form-label">Total: </label><br>
                        <label class="form-label">{{totalcompra}}</label>
                    </div>
                    <div class="col-5 d-none">
                        <label for="Ingredientes" class="form-label">Sabores</label>
                        <select id="Ingredientes" class="form-select" formControlName="ingredientes">
                            <option value="{{item.idreceta}}" *ngFor="let item of lsing">{{item.sabor}}</option>
                        </select>
                    </div>
                    <div class="col-2 d-none">
                        <label for="unidades" class="form-label">Unidades</label>
                        <input type="number" id="unidades" formControlName="unidades"  class="form-control" value="0">
                    </div>
                    <div class="col-12 table-responsive"><br>
                        <table class="table table-hover" style="width:100%">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Porciones Seleccionadas</th>
                                    <!-- <th scope="col">Precio</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-secondary" *ngFor="let item of lsingreso; let i=index">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.cantidad}}</td>
                                    <!-- <td>{{item.productonombre}}</td> -->
                                    <td><button type="button" class="btn btn-primary" (click)="eliminar(i)"><i
                                                class='bx bx-trash'></i></button></td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="mostrar(0)"
                        id="idbotoncerrar">Close</button>
                    <button  type="submit"
                        class="btn btn-primary ms-2">{{textoboton}}</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modalpay" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccionar Cliente</h1>
        <button type="button" id="btnclose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tabla">
          <div class="tabla table-responsive">
            <div class="busqueda input-group ms-auto" style="width: 400px;">
              <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="busquedamodal">
              <button class="btn btn-busqueda" type="button" (click)="cargarcliente()"><i
                  class='bx bx-search'></i></button>
            </div> 
            <table class="table table-hover mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Ci</th>
                  <th scope="col">Fecha de Nacimiento</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let item of lshistorial;">
                  <td>{{item.idpersona}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.ci}}</td>
                  <td>{{item.fechanac}}</td>
                  <td><Button class="btn btn-success" (click)="seleccionar(item)">Seleccionar</Button></td>
                </tr>
              </tbody>
            </table>
            <!-- Paginacion -->
            <nav aria-label="..." *ngIf="totalmodal!=0">
              <ul class="pagination">
                <li [ngClass]="{'page-item':true, 'disabled':pagemodal==0}">
                  <a class="page-link" (click)="cambiarpaginamodal(pagemodal-1)">&laquo;</a>
                </li>
                <li *ngFor="let item of numSequence(totalmodal);let i=index" class="page-item " aria-current="page">
                  <a [ngClass]="{'page-link':true, 'active':i==pagemodal}" (click)="cambiarpaginamodal(i)">
                    {{i+1}}
                  </a>
                </li>
                <li [ngClass]="{'page-item':true, 'disabled':pagemodal==totalmodal-1}">
                  <a class="page-link" (click)="cambiarpaginamodal(pagemodal+1)">&raquo;</a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalselprod" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccionar Sabores</h1>
        <button type="button" id="btnclose2" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-5">
                <label for="Ingredientes" class="form-label">Sabores</label>
                <select id="Ingredientes" class="form-select" [(ngModel)]="opcionSeleccionado">
                    <option value="{{item.idreceta}}" *ngFor="let item of lsing">{{item.sabor}}</option>
                </select>
            </div>
            <div class="col-2">
                <label for="unidades" class="form-label">Unidades</label>
                <input type="number" id="unidades" [(ngModel)]="unidadestemp" class="form-control" value="0">
            </div>
            <div class="col-5">
                <label for="">&nbsp;</label><br>
                <button type="button" class="btn btn-secondary" style="width:100%" (click)="cargar();"><i
                        class="fa fa-plus"></i> Agregar</button>
                <button type="button" class="btn btn-primary" style="width:100%" (click)="aceptar();"><i
                                class="fa fa-plus"></i> Aceptar</button>
            </div>
        </div>
        <div class="tabla">
          <div class="tabla table-responsive">
            <table class="table table-hover mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nº</th>
                  <th scope="col">Sabor</th>
                  <th scope="col">Unidades</th>
                  <th scope="col"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let item of listatemp; index as i">
                  <td>{{i+1}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.cantidad}}</td>
                  <td><Button class="btn btn-warning" (click)="eliminarmodal(i)">Eliminar</Button></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>