<app-header></app-header>
<div class="container mt-2">
    <div class="text-center">
        <h3>Resumen de Inventario</h3>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let item of lista">
            <div class="card mt-5">
                <div class="lines"></div>
                <div class="imgBx">
                    <img src="../../../assets/Imagenes/Ingredientes.jpeg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>{{item.nombre}}</h2>
                        <p><span>Cantidad: </span>{{item.cantidad +' '+item.unidad}}</p>
                        <p><span>Unidades: </span>{{item.unidades}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>