<app-header></app-header>
<div class="container">
  <div class="content-header">
      <div class="container-fluid" *ngIf="funcion==0">
          <div class="row mb-2 mt-5">
              <div class="col-sm-6">
                  <h1 class="m-0"><b>GESTION INGREDIENTES</b></h1>
              </div>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header" *ngIf="funcion==0">
                  <h3 class="card-title"><b>Listado de ingredientes</b></h3>
                  <div style="text-align: right;">
                      <div class="botones mt-3">
                          <button class="btn btn-agregar btn-responsive" style="--clr:#ff1867; "
                              (click)="mostrar(1)"><span>Añadir Ingrediente</span><i></i></button>
                      </div>
                  </div>
                  <div class="tabla mt-3" *ngIf="funcion==0">
                      <div class="tabla table-responsive">
                          <div class="busqueda input-group mt-2 ms-auto" style="width: 400px;">
                              <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="busqueda">
                              <button class="btn btn-busqueda" type="button" (click)="cargarlista()"><i
                                      class='bx bx-search'></i></button>
                          </div>
                          <table class="table table-hover mt-2">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Número</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Medida</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Accion</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-active" *ngFor="let ingrediente of ingredientes index as con">
                                <td scope="row">{{con+1}}</td>
                                <td>{{ ingrediente.nombre}}</td>
                                <td>{{ ingrediente.Medida }}</td>
                                <td>{{ ingrediente.fecharealizado }}</td>
                                <td *ngIf="ingrediente.estado=='activo'"><span class="badge btn-act">ACTIVO</span></td>
                                <td *ngIf="ingrediente.estado=='inactivo'"><span class="badge btn-inac">INACTIVO</span></td>
                                <td *ngIf="ingrediente.estado=='activo'"><button class='btn btn-mod btn-sm' data-bs-toggle="modal"
                                    data-bs-target="#modal_agregar" (click)="asignar(ingrediente.idingredientes)"><i
                                      class='fa fa-edit'></i></button>&nbsp;<button class='btn btn-hab btn-sm'
                                    (click)="deshabilitar(ingrediente.idingredientes, ingrediente)"><i
                                      class='fa fa-trash'></i></button></td>
                                <td *ngIf="ingrediente.estado=='inactivo'"><button class='btn btn-mod btn-sm' data-bs-toggle="modal"
                                    data-bs-target="#modal_agregar" (click)="asignar(ingrediente.idingredientes)"><i
                                      class='fa fa-edit'></i></button>&nbsp;<button class='btn btn-hab btn-sm'
                                    (click)="habilitar(ingrediente.idingredientes, ingrediente)"><i
                                      class='fa fa-check-circle'></i></button></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginacion -->
                          <nav aria-label="..." *ngIf="total!=0">
                              <ul class="pagination">
                                  <li [ngClass]="{'page-item':true, 'disabled':page==0}">
                                      <a class="page-link" (click)="cambiarpagina(page-1)">&laquo;</a>
                                  </li>
                                  <li *ngFor="let item of numSequence(total);let i=index" class="page-item "
                                      aria-current="page">
                                      <a [ngClass]="{'page-link':true, 'active':i==page}" (click)="cambiarpagina(i)">
                                          {{i+1}}
                                      </a>
                                  </li>
                                  <li [ngClass]="{'page-item':true, 'disabled':page==total-1}">
                                      <a class="page-link" (click)="cambiarpagina(page+1)">&raquo;</a>
                                  </li>
                              </ul>
                          </nav>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-12 mt-5" *ngIf="funcion==1">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title"><b>{{titulo}}</b></h3>
          </div>
          <form class="formulario" [formGroup]="formulario" (ngSubmit)="mandardatos(formulario.value)">
            <div class="row">
              <div class="col-9">
                <label for="nombre" class="form-label">Nombre del Ingrediente *</label>
                <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresar nombres del ingrediente"
                  class="form-control">
                  <i class="formulario__validacion-estado-nueve fas fa-times-circle" *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched"></i>
                  <i class="formulario__validacion-correcto-nueve fa-solid fa-circle-check" *ngIf="formulario.get('nombre')?.valid"></i>
                <span class="text-error"
                  *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">
                  El campo nombre es <strong>requerido</strong>
                </span>
              </div>
              <div class="col-3">
                <label for="fecha" class="form-label">Fecha *</label>
                <input type="date" id="fecha" formControlName="fecharealizado" class="form-control">
                <i class="formulario__validacion-estado-tres fas fa-times-circle" *ngIf="formulario.get('fecharealizado')?.hasError('required') && formulario.get('fecharealizado')?.touched"></i>
                <i class="formulario__validacion-correcto-tres fa-solid fa-circle-check" *ngIf="formulario.get('fecharealizado')?.valid"></i>
                <span class="text-error"
                  *ngIf="formulario.get('fecharealizado')?.hasError('required') && formulario.get('fecharealizado')?.touched">
                  El campo fecha es <strong>requerido</strong>
                </span>
              </div>
              <div class="col-6">
                <label for="medida" class="form-label">Medida *</label>
                <input type="text" id="medida" formControlName="medida" placeholder="Ingresar la medida del ingrediente"
                  class="form-control">
                  <i class="formulario__validacion-estado-seis fas fa-times-circle" *ngIf="formulario.get('medida')?.hasError('required') && formulario.get('medida')?.touched"></i>
                  <i class="formulario__validacion-correcto-seis fa-solid fa-circle-check" *ngIf="formulario.get('medida')?.valid"></i>
                <span class="text-error"
                  *ngIf="formulario.get('medida')?.hasError('required') && formulario.get('medida')?.touched">
                  El campo medida es <strong>requerido</strong>
                </span>
              </div>
              <div class="col-6">
                <label for="unidad" class="form-label">Unidad *</label>
                <select id="unidad" formControlName="unidad" class="form-control">
                  <option style="color: black;" value="kilogramos">kilogramos</option>
                  <option style="color: black;" value="gramos">gramos</option>
                  <option style="color: black;" value="litros">litros</option>
                </select>
                  <i class="formulario__validacion-estado-seis fas fa-times-circle" *ngIf="formulario.get('unidad')?.hasError('required') && formulario.get('unidad')?.touched"></i>
                  <i class="formulario__validacion-correcto-seis fa-solid fa-circle-check" *ngIf="formulario.get('unidad')?.valid"></i>
                <span class="text-error"
                  *ngIf="formulario.get('unidad')?.hasError('required') && formulario.get('unidad')?.touched">
                  El campo unidad es <strong>requerido</strong>
                </span>
              </div>
            </div>
            <div class="modal-footer mt-2">
              <button type="button" class="btn btn-secondary" (click)="mostrar(0)" id="idbotoncerrar">Close</button>
              <button [disabled]="formulario.invalid" type="submit" class="btn btn-primary ms-2">{{ textoboton }}</button>
            </div>
          </form>
      </div>
  </div>
</div>