<section >
    <nav  class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="logo">
            <img src="../../../assets/Imagenes/logo2.png" alt="">
            <a class="navbar-brand" href="#">The Ice Creamplus</a>
        </div>
        <ul>
            <li><a href="#Home">hogar</a></li>
            <li><a href="#About">Acerca de</a></li>
            <li><a href="#Menu">Menu</a></li>
            <li><a href="#Special">Especial</a></li>
            <li><a href="#Review">Criticas</a></li>
            <li><a href="#Team">Personal</a></li>
            <li><a href="#Order">Orden</a></li>
        </ul>
        <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <a routerLink="/login" role="button">
            <i class="fa-solid fa-user"></i>
            </a>

        </div>
        
    </nav>
    <div class="main" id="Home">
        <div class="main-text">
            <h1><span>Bienvenidos</span><br>a nuestro sitio web</h1>
        </div>
        <div class="first-image">
            <img src="../../../assets/Imagenes/1.png" alt="">
        </div>
    </div>
    <p>Cada producto de Melov es cuidadosamente creado por expertos heladeros utilizando técnicas artesanales, garantizando una calidad excepcional. Se presta especial atención a la selección de las materias primas y al proceso de preparación para ofrecer productos de la más alta calidad.</p>
    <!-- <div class="btn">
        <a href="#">Ordene Ahora</a>
    </div> -->
</section>
<div class="about" id="About">
    <div class="main-about">
        <div class="image">
            <img src="../../../assets/Imagenes/2.png" alt="">
        </div>
        <div class="text-about">
            <h1><span>Sobre</span> nosotros</h1>
            <h3>Por qué elegirnos?</h3>
            <p>La Heladería Melov surge del entusiasmo de un apasionado de los helados que busca la excelencia en el sabor, utilizando ingredientes completamente naturales y de primera calidad. Su objetivo es ofrecer experiencias divertidas y placenteras a quienes disfrutan de sus productos.</p>
        </div>
    </div>
    <!-- <div class="btn-about">
        <a href="#">Ordene Ahora</a>
    </div> -->
</div>
<div class="menu" id="Menu">
    <h1>Nuestro <span> Menu</span></h1>
    <div class="menu-box">
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/a1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Delicioso helado de vainilla cubierto con crujiente cono de chocolate.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/b1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Sabor Vanila</h2>
                <p>Clásico helado de vainilla, cremoso y reconfortante para cualquier ocasión.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/c1.png" alt="">
            </div>
            <div class="menu-info">
                <h2>Mixed 3</h2>
                <p>Delicioso helado con combinación de frutilla, vainilla y chocolate exquisita.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/d1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Strawberry</h2>
                <p>Helado de fresa fresca y cremosa, irresistible para cualquier ocasión.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/e1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>XXXXX</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/f1.png" alt="">
            </div>
            <div class="menu-info">
                <h2>Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/g1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Strawberry</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/h1.png" alt="">
            </div>
            <div class="menu-info">
                <h2>Drink</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/i1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/j1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/k1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/l1.png" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/m1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/n1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/o1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
        <div class="menu-cart">
            <div class="menu-image">
                <img src="../../../assets/Imagenes/p1.jpg" alt="">
            </div>
            <div class="menu-info">
                <h2>Cono de Chocolate</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, velit delectus.</p>
                <h3>Bs. 20</h3>
                <div class="menu-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="menu-btn">
                    <a href="#">Ordene Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="special" id="Special">
    <h1>Nuestro <span>Especial</span></h1>
    <div class="image-box">
        <div class="special-image">
            <img src="../../../assets/Imagenes/sp1.jpg" alt="">
            <h3>Ice-Cream Name</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum eos qui aliquam iste.</p>
            <div class="special-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </div>
        <div class="special-image">
            <img src="../../../assets/Imagenes/sp2.png" alt="">
            <h3>Ice-Cream Name</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum eos qui aliquam iste.</p>
            <div class="special-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </div>
        <div class="special-image">
            <img src="../../../assets/Imagenes/sp3.jpg" alt="">
            <h3>Ice-Cream Name</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum eos qui aliquam iste.</p>
            <div class="special-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </div>
        <div class="special-image">
            <img src="../../../assets/Imagenes/sp4.jpg" alt="">
            <h3>Ice-Cream Name</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum eos qui aliquam iste.</p>
            <div class="special-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </div>
        <div class="special-image">
            <img src="../../../assets/Imagenes/sp5.jpg" alt="">
            <h3>Ice-Cream Name</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum eos qui aliquam iste.</p>
            <div class="special-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </div>
        <div class="special-image">
            <img src="../../../assets/Imagenes/i1.jpg" alt="">
            <h3>Ice-Cream Name</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum eos qui aliquam iste.</p>
            <div class="special-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </div>
    </div>
</div>
<div class="review" id="Review">
    <h1>Calificaciones <span>y Opiniones</span></h1>
    <div class="review-box">
        <div class="review-cart">
            <div class="review-profile">
                <img src="../../../assets/Imagenes/man_dp1.jpg" alt="">
            </div>
            <div class="review-text">
                <h2 class="name">John</h2>
                <div class="review-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="review-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aut expedita iusto at delectus corrupti dolore eum dolorem voluptates, optio unde ea repellat inventore temporibus eligendi dolorum deleniti magni. At ab reiciendis voluptatem dolorum totam recusandae explicabo. Nobis, reiciendis esse.</p>
                </div>
            </div>
        </div>
        <div class="review-cart">
            <div class="review-profile">
                <img src="../../../assets/Imagenes/pngegg.png" alt="">
            </div>
            <div class="review-text">
                <h2 class="name">John Deo</h2>
                <div class="review-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="review-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aut expedita iusto at delectus corrupti dolore eum dolorem voluptates, optio unde ea repellat inventore temporibus eligendi dolorum deleniti magni. At ab reiciendis voluptatem dolorum totam recusandae explicabo. Nobis, reiciendis esse.</p>
                </div>
            </div>
        </div>
        <div class="review-cart">
            <div class="review-profile">
                <img src="../../../assets/Imagenes/man_dp2.jpg" alt="">
            </div>
            <div class="review-text">
                <h2 class="name">John</h2>
                <div class="review-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="review-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aut expedita iusto at delectus corrupti dolore eum dolorem voluptates, optio unde ea repellat inventore temporibus eligendi dolorum deleniti magni. At ab reiciendis voluptatem dolorum totam recusandae explicabo. Nobis, reiciendis esse.</p>
                </div>
            </div>
        </div>
        <div class="review-cart">
            <div class="review-profile">
                <img src="../../../assets/Imagenes/dp5.jpg" alt="">
            </div>
            <div class="review-text">
                <h2 class="name">John</h2>
                <div class="review-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="review-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aut expedita iusto at delectus corrupti dolore eum dolorem voluptates, optio unde ea repellat inventore temporibus eligendi dolorum deleniti magni. At ab reiciendis voluptatem dolorum totam recusandae explicabo. Nobis, reiciendis esse.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team" id="Team">
    <h1>Nuestro <span>Personal</span></h1>
    <div class="team-box">
        <div class="profile">
            <img src="../../../assets/Imagenes/sf1.jpg" alt="">
            <div class="info">
                <h2 class="members-name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur modi alias!</p>
                <div class="team-icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../assets/Imagenes/sf2.jpg" alt="">
            <div class="info">
                <h2 class="members-name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur modi alias!</p>
                <div class="team-icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../assets/Imagenes/sf3.jpg" alt="">
            <div class="info">
                <h2 class="members-name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur modi alias!</p>
                <div class="team-icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../assets/Imagenes/sf4.jpg" alt="">
            <div class="info">
                <h2 class="members-name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur modi alias!</p>
                <div class="team-icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="order" id="Order">
    <h1>Order <span>Now</span></h1>
    <div class="order-main">
        <div class="order-image">
            <img src="../../../assets/Imagenes/order.jpg" alt="">
        </div>
        <form action="#">
            <div class="input">
                <p>Nombre</p>
                <input type="text" placeholder="your name">
            </div>
            <div class="input">
                <p>Email</p>
                <input type="text" placeholder="your email">
            </div>
            <div class="input">
                <p>Number</p>
                <input placeholder="your number">
            </div>
            <div class="input">
                <p>How Much</p>
                <input type="number" placeholder="how many order">
            </div>
            <div class="input">
                <p>Your Order</p>
                <input placeholder="food name">
            </div>
            <div class="input">
                <p>Address</p>
                <input placeholder="your address">
            </div>
            <div class="order-btn">
                <a href="#">Ordene Ahora</a>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="footer-col">
        <h4>Location</h4>
        <ul>
            <li><a href="">Dhaka</a></li>
            <li><a href="">Rajshahi</a></li>
            <li><a href="">Khulna</a></li>
            <li><a href="">Rangpur</a></li>
            <li><a href="">Chattogram</a></li>
            <li><a href="">Sylhet</a></li>
            <li><a href="">Barishal</a></li>
            <li><a href="">Mymensingh</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Quick link</h4>
        <ul>
            <li><a href="">Dhaka</a></li>
            <li><a href="">Rajshahi</a></li>
            <li><a href="">Khulna</a></li>
            <li><a href="">Rangpur</a></li>
            <li><a href="">Chattogram</a></li>
            <li><a href="">Sylhet</a></li>
            <li><a href="">Barishal</a></li>
            <li><a href="">Mymensingh</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Contact</h4>
        <ul>
            <li><a href="">Dhaka</a></li>
            <li><a href="">Rajshahi</a></li>
            <li><a href="">Khulna</a></li>
            <li><a href="">Rangpur</a></li>
            <li><a href="">Chattogram</a></li>
            <li><a href="">Sylhet</a></li>
            <li><a href="">Barishal</a></li>
            <li><a href="">Mymensingh</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Service</h4>
        <ul>
            <li><a href="">Dhaka</a></li>
            <li><a href="">Rajshahi</a></li>
            <li><a href="">Khulna</a></li>
            <li><a href="">Rangpur</a></li>
            <li><a href="">Chattogram</a></li>
            <li><a href="">Sylhet</a></li>
            <li><a href="">Barishal</a></li>
            <li><a href="">Mymensingh</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Follows </h4>
        <div class="links">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <p class="end">Design By <span><i class="fa-solid  fa-face-grin"></i> Aida Fernandez</span></p>
</footer>
